[Unit]
Description=Fan Control Service
After=multi-user.target


[Service]
ExecStart=/usr/local/bin/fanmon
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
KillMode=process

[Install]
WantedBy=multi-user.target
