[Unit]
Description=Fan Control Service
After=multi-user.target


[Service]
# pi4b
ExecStart=/usr/local/bin/fanmon
#opi5
#ExecStart=/usr/local/bin/fanmon -p 2
#rock5b
#ExecStart=/usr/local/bin/fanmon -p 1

ExecReload=/bin/kill -HUP $MAINPID
Type=simple
KillMode=process

[Install]
WantedBy=multi-user.target
